body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.stopwatch {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #e0e0e0;
    margin-bottom: 20px;
}

#time-display {
    font-size: 3em;
    margin-bottom: 20px;
    color: #bb86fc;
}

.controls button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start {
    background-color: #03dac6;
    color: #121212;
}

#pause {
    background-color: #ffb74d;
    color: #121212;
}

#reset {
    background-color: #cf6679;
    color: #121212;
}

#lap {
    background-color: #2196f3;
    color: #121212;
}

.controls button:hover {
    filter: brightness(110%);
}

#laps {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#laps li {
    background-color: #333;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #e0e0e0;
}
